body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  box-sizing: border-box;
}

/* Header --------------------------------------- */
header {
  overflow: hidden;
  background-color: #6a7f10;
  padding: 10px 15px;
  margin-bottom: 0.5em;
}

header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1em;
  line-height: 25px;
  border-radius: 5px;
}

header a.logo {
  font-size: 1.6em;
}

header a:hover {
  background-color: #464646;
  color: white;
}

.header-right {
  float: right;
}

/* Map Layout -------------------------------- */
#map-container {
  display: grid;
  /* grid-template-columns: repeat(8, 12.25%) 2%;
  grid-template-rows: 1fr 2fr 1fr; */
  padding: 6px;
  border: 1px #555555 solid;
  grid-template: repeat(13, 60px) / repeat(19, 87px);
  grid-gap: 12px;
}

/* Individual company block------------------------- */

.comp-block {
  background-color: white;
  border: 2px solid #333;
  width: auto;
  height: auto;
  color: #222;
  border-radius: 5px;
  font-size: 12px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  padding: 0.2em;
}

.comp-block::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.comp-block:hover {
  border: 3px solid #e6e6e6;
}

#comp-id-1 {
  grid-area: 13 / 9 / span 1 / span 1;
}

#comp-id-2 {
  grid-area: 12 / 9 / span 1 / span 1;
}

#comp-id-3 {
  grid-area: 11 / 8 / span 1 / span 1;
}

#comp-id-4 {
  grid-area: 11 / 7 / span 1 / span 1;
}

#comp-id-5 {
  grid-area: 11 / 6 / span 1 / span 1;
}

#comp-id-6 {
  grid-area: 11 / 5 / span 1 / span 1;
}

#comp-id-7 {
  grid-area: 10 / 3 / span 1 / span 1;
}

#comp-id-8 {
  grid-area: 9 / 2 / span 1 / span 1;
}

#comp-id-9 {
  grid-area: 7 / 1 / span 1 / span 1;
}

#comp-id-10 {
  grid-area: 6 / 1 / span 1 / span 1;
}

#comp-id-11 {
  grid-area: 5 / 1 / span 1 / span 1;
}

#comp-id-12 {
  grid-area: 3 / 2 / span 1 / span 1;
}

#comp-id-13 {
  grid-area: 2 / 3 / span 1 / span 1;
}

#comp-id-14 {
  grid-area: 1 / 5 / span 1 / span 1;
}

#comp-id-15 {
  grid-area: 1 / 6 / span 1 / span 1;
}

#comp-id-16 {
  grid-area: 1 / 7 / span 1 / span 1;
}

#comp-id-17 {
  grid-area: 1 / 8 / span 1 / span 1;
}

#comp-id-18 {
  grid-area: 1 / 9 / span 1 / span 1;
}

#comp-id-19 {
  grid-area: 1 / 10 / span 1 / span 1;
}

#comp-id-20 {
  grid-area: 1 / 11 / span 1 / span 1;
}

#comp-id-21 {
  grid-area: 1 / 12 / span 1 / span 1;
}

#comp-id-22 {
  grid-area: 1 / 13 / span 1 / span 1;
}

#comp-id-23 {
  grid-area: 1 / 14 / span 1 / span 1;
}

#comp-id-24 {
  grid-area: 1 / 15 / span 1 / span 1;
}

#comp-id-25 {
  grid-area: 2 / 17 / span 1 / span 1;
}

#comp-id-26 {
  grid-area: 3 / 18 / span 1 / span 1;
}

#comp-id-27 {
  grid-area: 5 / 19 / span 1 / span 1;
}

#comp-id-28 {
  grid-area: 6 / 19 / span 1 / span 1;
}

#comp-id-29 {
  grid-area: 7 / 19 / span 1 / span 1;
}

#comp-id-30 {
  grid-area: 9 / 18 / span 1 / span 1;
}

#comp-id-31 {
  grid-area: 10 / 17 / span 1 / span 1;
}

#comp-id-32 {
  grid-area: 11 / 15 / span 1 / span 1;
}

#comp-id-33 {
  grid-area: 11 / 14 / span 1 / span 1;
}

#comp-id-34 {
  grid-area: 11 / 13 / span 1 / span 1;
}

#comp-id-35 {
  grid-area: 12 / 12 / span 1 / span 1;
}

#comp-id-36 {
  grid-area: 13 / 12 / span 1 / span 1;
}

#comp-id-37 {
  grid-area: 7 / 14 / span 1 / span 1;
}

#comp-id-38 {
  grid-area: 6 / 14 / span 1 / span 1;
}

#comp-id-39 {
  grid-area: 5 / 14 / span 1 / span 1;
}

#comp-id-40 {
  grid-area: 4 / 14 / span 1 / span 1;
}

#comp-id-41 {
  grid-area: 4 / 13 / span 1 / span 1;
}

#comp-id-42 {
  grid-area: 5 / 13 / span 1 / span 1;
}

#comp-id-43 {
  grid-area: 6 / 13 / span 1 / span 1;
}

#comp-id-44 {
  grid-area: 7 / 13 / span 1 / span 1;
}

#comp-id-45 {
  grid-area: 7 / 11 / span 1 / span 1;
}

#comp-id-46 {
  grid-area: 6 / 11 / span 1 / span 1;
}

#comp-id-47 {
  grid-area: 5 / 11 / span 1 / span 1;
}

#comp-id-48 {
  grid-area: 4 / 11 / span 1 / span 1;
}

#comp-id-49 {
  grid-area: 4 / 10 / span 1 / span 1;
}

#comp-id-50 {
  grid-area: 5 / 10 / span 1 / span 1;
}

#comp-id-51 {
  grid-area: 6 / 10 / span 1 / span 1;
}

#comp-id-52 {
  grid-area: 7 / 10 / span 1 / span 1;
}

#comp-id-53 {
  grid-area: 7 / 7 / span 1 / span 1;
}

#comp-id-54 {
  grid-area: 6 / 7 / span 1 / span 1;
}

#comp-id-55 {
  grid-area: 5 / 7 / span 1 / span 1;
}

#comp-id-56 {
  grid-area: 4 / 7 / span 1 / span 1;
}

#comp-id-57 {
  grid-area: 4 / 6 / span 1 / span 1;
}

#comp-id-58 {
  grid-area: 5 / 6 / span 1 / span 1;
}

#comp-id-59 {
  grid-area: 6 / 6 / span 1 / span 1;
}

#comp-id-60 {
  grid-area: 7 / 6 / span 1 / span 1;
}

/* Modal for each company block----------------------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------FOOTER---------------------------*/

footer {
  position: relative;
  overflow: hidden;
  background-color: #6a7f10;
  padding: 10px 15px;
  top: 17em;
  bottom: 0em;
  left: 0em;
}

.FooterCenter {
  font-size: 1em;
}

.Links {
  font-size: 1em;
  padding: 12px 15px;
}

footer {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50px);
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 10em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  mix-blend-mode: overlay;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  text-decoration: none;
}
.FooterLinks {
  width: 100%;
  height: auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;
}

.LinksOne,
.LinksTwo {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}
.LinksOne ul,
.LinksTwo ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.LinksOne ul li {
  display: inline-block;
  margin: 10px 20px;
}

.LinksOne ul li a {
  text-decoration: none;
  outline: none;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.LinksOne ul li a:hover,
.LinksTwo ul li a:hover {
  color: #6a7f10;
}

.LinksTwo ul li {
  display: inline-block;
  margin: 0px 20px;
}
.LinksTwo ul li a {
  text-decoration: none;
  outline: none;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.Credits {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #6a7f10;
  color: white;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.Network a:hover {
  color: black;
}
